@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0; }

@media screen and (min-width: 481px) {
  #mainbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center; }

  #insform {
    width: 100%;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/traffic-332857_1920.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
    margin-bottom: -10%; }
    #insform h1 {
      font-size: 4.8vw;
      width: 100%;
      color: white;
      margin: 4% 0 3% 4%; }
    #insform #frontbox {
      background-color: rgba(211, 211, 211, 0.8);
      color: #2C2C2C;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 88%;
      border: 0.2vw gray solid;
      border-radius: 0.4vw; }
      #insform #frontbox h1 {
        width: 50%;
        font-size: 5.2vw;
        text-align: center;
        font-weight: 400;
        margin: 1% 0;
        color: #2C2C2C; }
      #insform #frontbox form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #insform #frontbox form ul {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0;
          padding: 0; }
          #insform #frontbox form ul li {
            display: flex;
            width: 40%;
            flex-direction: column;
            margin: 0 0 0.8%; }
            #insform #frontbox form ul li label {
              margin-left: 2%;
              font-size: 2vw; }
            #insform #frontbox form ul li input {
              font-size: 3vw;
              border: 0.1vw gray solid;
              border-radius: 0.7vw;
              font-family: "Oswald", sans-serif; }
            #insform #frontbox form ul li select {
              font-size: 3vw;
              border: 0.1vw gray solid;
              color: #2C2C2C;
              background-color: white;
              font-weight: 100;
              border-radius: 0.1vw;
              font-family: "Oswald", sans-serif; }
        #insform #frontbox form #button {
          color: white;
          background-color: #4A9236;
          width: 38%;
          font-size: 4vw;
          border-radius: 1.5vw;
          font-family: "Oswald", sans-serif;
          margin: 2.5%;
          padding: 0; }
      #insform #frontbox #result {
        padding: 2% 0 5%;
        color: #4A9236;
        font-size: 4vw; }

  #boxgrey {
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    display: flex;
    width: 100%;
    background-color: #CECECE;
    flex-direction: column;
    align-items: center;
    color: #2C2C2C;
    padding: 10% 0 3%; }
    #boxgrey h2 {
      font-size: 4vw;
      margin: 0; }
    #boxgrey p {
      font-size: 3vw;
      margin: 0; }

  #extrainfo {
    display: flex;
    justify-content: space-between;
    width: 94%;
    padding-top: 10%; }
    #extrainfo .smallbox {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      width: 43%;
      flex-direction: column;
      border-top: solid 0.25vw #353535;
      box-shadow: 0vw 0.2vw 0.2vw 0.3vw #E9E9E9;
      padding: 3% 4%;
      border-radius: 0.5%; }
      #extrainfo .smallbox h3 {
        color: #153A70;
        font-size: 2.3vw;
        font-weight: 100;
        margin: 0; }
      #extrainfo .smallbox h4 {
        font-size: 1.6vw;
        font-weight: 100;
        margin: 1% 0 3%; }
      #extrainfo .smallbox span {
        color: #8FD2D4;
        font-weight: 900;
        padding-right: 2%; }
      #extrainfo .smallbox p {
        font-size: 1.6vw;
        font-weight: 100;
        margin: 3% 0; }
      #extrainfo .smallbox hr {
        width: 100%;
        margin-left: 0;
        border-top: 0.2vw solid #FBFBFB; }
      #extrainfo .smallbox h5 {
        font-size: 1.6vw;
        margin: 5% 0 0; }
      #extrainfo .smallbox h6 {
        font-size: 1.6vw;
        margin: 0;
        font-weight: 100;
        color: #BFAA9B; } }

/*# sourceMappingURL=index-styles.css.map */
